.page-body {
  background-color: #282c34;
  
}

.table-spacing {
  margin: 20px;
}

.form-container {
  margin: 7%;
  background-color: #900d0d;
  color: white;
  width: auto;
  height: auto;
}

.Form.Label {
  padding: 10px;
  margin: 10px;
}

#PaymentForm {
  color: white;
}